*, body, html { 
    background-color: #3b6b65;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#map { 
    display: flex;
    flex-direction: rpw;
    width: 800px;
    height: 800px;
}

.mar {
    background-color: blue;
    width: 5px;
    height: 5px;
}
.terra{
    background-color: #491b05;
    width: 5px;
    height: 5px;
}
.montanha {
    background-color: cornsilk;
    width: 5px;
    height: 5px;
}